<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="/styles/showBlogs.css">
</head>

<body>
    <% if (blogs && blogs.length> 0) { %>
        <% blogs.forEach((blog, index)=> { %>
            <div class="<%= index % 2 === 0 ? 'EvenblogItem' : 'OddblogItem' %>">
                <div>
                    <%= blog.title %>
                </div>
                <div>
                    <%= blog.description %>
                </div>
                <div>
                    <img src="<%= blog.imageUrl %>" alt="<%= blog.title %>">
                </div>
            </div>
            <% }) %>
                <% } else { %>
                    <p>No blogs available.</p>
                    <% } %>
</body>

</html>